folderico-approved.ico
desktop.ini

.gitignore

.venv
__pycache__


quicky.txt
api.txt

*.wav

# un-ignore the specific files we want to keep tracked
!testing_speakers/
!testing_speakers/output_0.wav
!testing_speakers/output_1.wav
!testing_speakers/output_3.wav
!testing_speakers/output_13.wav
!testing_speakers/output_14.wav
!testing_speakers/output_17.wav
!testing_speakers/output_24.wav
!testing_speakers/output_25.wav
!testing_speakers/output_28.wav
!testing_speakers/output_37.wav

output.wav
output_audio/
